
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgba(178, 211, 231, 0.3);
    text-transform: capitalize;
    font-family: 'Quicksand', sans-serif;
    }

.parent{
    position: absolute;
    width: 25vw;
    height: 92vh;
    margin: 28px 38% 0;
    background: rgba(255, 255, 255, 0.9);
        }

  .logo{
      display: flex;
      justify-content: center;
        }  

.logo+p{
    text-align: center;
    }

    .logo img{
        height: 20vh;
    }
.form{
    padding-left: 30px;
    }

    .form p{
        margin-top: 10px;
    }
.input{
    height: 30px;
    width: 90%;
    background: #EDF0F7;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 4.71503px;
    border: none;
    }

.reg{
    height: 30px;
    width: 82%;
    margin-left: 30px;
    margin-top: 10px;
    text-transform: capitalize;
    background: #1E96C8;
    border-radius: 5px;
    border: none;
    color: white;
    }

.reg+p{
    text-align: center;
    margin-top: 4px;}

#login{
    color:rgb(0, 140, 255);
    }

#login a{
    text-decoration: none;
}

.icon{
    display: flex;
    justify-content: center;
    }
    

    
    @media screen and (max-width:1300px) {

        .parent{
            position: absolute;
            width: 25vw;
            height: 76vh;
            margin: 6% 38% 0;
            background: rgba(255, 255, 255, 0.9);
            padding: 1px;
        }
        
          .logo{
              display: flex;
              justify-content: center;
              margin-top: 40px;
                }  
        
        .logo+p{
            text-align: center;
            }
        
            .logo img{
                height: 15vh;
            }
        .form{
            padding-left: 30px;
            }
        
            .form p{
                margin-top: 10px;
            }
        .input{
            height: 30px;
            width: 90%;
            background: #EDF0F7;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
            border-radius: 4.71503px;
            border: none;
            }
        
        .reg{
            height: 30px;
            width: 82%;
            margin-left: 30px;
            margin-top: 10px;
            text-transform: capitalize;
            background: #1E96C8;
            border-radius: 5px;
            border: none;
            color: white;
            }
        
        .reg+p{
            text-align: center;
            margin-top: 4px;}
        
        #login{
            color:rgb(0, 140, 255);
            }

        a{
            text-decoration: none;
            color:  #1E96C8;
            }


        
        .icon{
            display: flex;
            justify-content: center;
            }
            
        

        
    }




    @media screen and (max-width:1100px) {

        .parent{
            position: absolute;
            width:33vw;
            height: 80vh;
            margin: 2% 33%;
            background: rgba(255, 255, 255, 0.9);
            padding: 1px;
        }
        
          .logo{
              display: flex;
              justify-content: center;
              margin-top: 28px;
                }  
        
        .logo+p{
            text-align: center;
            }
        
            .logo img{
                height: 15vh;
            }
        .form{
            padding-left: 30px;
            }
        
            .form p{
                margin-top: 10px;
            }
        .input{
            height: 30px;
            width: 90%;
            background: #EDF0F7;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
            border-radius: 4.71503px;
            border: none;
            }
        
        .reg{
            height: 30px;
            width: 83%;
            margin-left: 30px;
            margin-top: 10px;
            text-transform: capitalize;
            background: #1E96C8;
            border-radius: 5px;
            border: none;
            color: white;
            }
        
        .reg+p{
            text-align: center;
            margin-top: 4px;}
        
        #login{
            color:rgb(0, 140, 255);
            }
        
            a{
                text-decoration: none;
                color:  #1E96C8;
            }


        
        .icon{
            display: flex;
            justify-content: center;
            }
            
        

        
    }



   
    

    @media screen and (max-width:1000px) {

        .parent{
            width: 43vw;
            height: 63vh;
            margin: 25% 30%;
            background: rgba(255, 255, 255, 0.9);
            padding: 1px;
            overflow: hidden;
        
            a{
                text-decoration: none;
                color:  #1E96C8;
            }


    }


    @media screen and (max-width:580px) {

        .parent{
            width: 100vw;
            height: 100vh;
            margin: 0% 0%;
            background: rgba(255, 255, 255, 0.9);}



            
            .logo img{
                height: 20vh;
                margin-top: 13%;
            }   
            
        


        }
        .form{
            margin-top: 15px;
            margin-left: 7%;
            }
        
            .form p{
                margin-top: 20px;
            }
        
        
        .input{
            height: 35px;
            width: 83%;
            background: #EDF0F7;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
            border-radius: 4.71503px;
            border: none;
            }
        


            .reg{
                height: 30px;
                width: 68%;
                margin-left: 15%;
                margin-top: 20px;
                text-transform: capitalize;
                background: #1E96C8;
                border-radius: 5px;
                border: none;
                color: white;
                }
            
            .reg+p{
                text-align: center;
                margin-top: 4px;}
            
            #login{
                color:rgb(0, 140, 255);
                }
            
            
                a{
                    text-decoration: none;
                    color:  #1E96C8;
                }


            .icon{
                display: flex;
                justify-content: center;
                }
                
            
        
       
    }
    

 


    

